{% extends "layout.twig" %}
{% block content %}

<div id="wrap">
	<div class="bk-pt-home">
		<nav class="bk-nav" id="nav">
			{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
			{{widget('socialicons', 'social', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
		</nav>
		<div role="main" id="main">
				{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true, 'align':'justifycenter'})|raw}}
			<header class="bk-header">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/nordic-logo.png'),"showTplWidget":"0"})|raw}}
				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</header>
			<div class="contain" id="contain">
				{{zone('main')|raw}}
			</div><!--end contain-->
		{% include 'includes/footer.twig' %}
		</div><!--end main-->
	</div><!--end bk-pt-home-->
</div><!--end wrap-->

{% endblock %}